<footer class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <a href="/" class="logo-link">
                    <img src="assets/images/logo.png" alt="ABC-Hotel Logo" class="logo">
                    <span class="hotel-name">ABC-Hotel</span>
                </a>
                <p>Your trusted partner in luxury stays.</p>
                <div>Umtav Vaddo, Near Calangute Market,</div>
                <div> Calangute, Goa 403516, India</div>
            </div>

            <div class="footer-links">
                <a routerLink="/about">About Us</a>
                <a routerLink="/contact">Contact</a>
                <a routerLink="/terms">Terms of Service</a>
                <a routerLink="/privacy">Privacy Policy</a>
            </div>

            <div class="footer-social">
                <a href="https://facebook.com" target="_blank" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com" target="_blank" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a>
                <a href="https://instagram.com" target="_blank" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="text-center">
                Developed by -
                <a href="https://www.linkedin.com/in/aaditya-bachchu-chatterjee-0485933b/">Aaditya B Chatterjee</a>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; {{ currentYear }} ABC-Hotel. All rights reserved.</p>
        </div>
    </div>
</footer>
